.container_projeto {
  display: flex;
  margin-top: 30px !important;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card_projeto {
  width: 100%;
}

.card_body {
  background-color: #207239;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container_img_text {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.img_text {
  height: 950px;
  background-color: rgb(221, 217, 217);
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img_text > img {
  width: 420px;
  height: 300px;
}

.span_txt {
  text-align: justify;
  padding: 20px;
  font-size: 1.2em;
  margin-top: 10px;
  border-radius: 10px 10px;
}

.card_title {
  padding: 10px;
  font-size: 1.5em;
  color: white;
}

@media (max-width: 1400px) {
  .img_text {
    width: auto;
    height: auto;
  }
}

@media (max-width: 1300px) {
  .container_img_text {
    flex-direction: column;
  }

  .img_text {
    width: auto;
    height: auto;
  }
}
@media (max-width: 400px) {
  .container_img_text {
    width: 90%;
  }

  .img_text {
    width: 300px;
  }

  .img_text > img {
    width: auto;
  }
}
