.participate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #e8f5e9; // Um tom suave de verde
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  margin: 50px auto;

  .textContainer {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      color: #4caf50; // Um tom mais escuro de verde
      margin-bottom: 10px;
      font-size: 2.5rem;
    }
    h3 {
      color: #388e3c; // Um tom de verde um pouco mais escuro
      font-size: 2rem;
      margin: 20px 0;
    }

    p {
      color: #424242; // Cor cinza escura para o texto
      line-height: 1.6;
    }
  }

  .formContainer {
    width: 100%;
    max-width: 400px;

    .form-group {
      margin-bottom: 15px;

      label {
        font-weight: bold;
        display: flex;
        align-items: center;
      }

      svg {
        margin-right: 10px;
      }

      input {
        height: 45px;
      }
      textarea {
        height: 100px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical; // Permite ao usuário redimensionar o textarea apenas verticalmente
      }
    }

    button {
      height: 45px;
      font-size: 1.1rem;
      margin-top: 20px;
    }
  }
}
