.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navbar-expand .navbar-nav  {
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}