@import "src/styles/variables.scss";

.navbar {
  background-color: $verde;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: auto;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  padding: 0px;
  z-index: 1000;
  @media screen and (max-width: 600px) {
    position: relative;
    top: 60px;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
  }
    
  

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
 

    &__link {
      color: rgb(255, 255, 255);
      text-decoration: none;
      padding: 10px 20px;
      margin: 0;
      height: 100%;
      display: flex;
      border-bottom: 2px solid $verde;
      width: 100%;
      text-align: center;
      justify-content: center;
      &:nth-child(1) {
        background-color: rgb(0, 26, 11);
      }
      &:nth-child(2) {
        background-color: rgb(23, 83, 48);
      }
      &:nth-child(3) {
        background-color: rgb(3, 163, 70);
      }
      &:nth-child(4) {
        background-color: rgb(90, 170, 73);
      }
      &:nth-child(5) {
        background-color: rgb(0, 83, 35);
      }
      &:nth-child(6) {
        background-color: rgb(17, 104, 25);
      }
      &:nth-child(7) {
        background-color: rgb(38, 126, 57);
      }
      &:nth-child(8) {
        background-color: rgb(9, 100, 57);
      }
      &:hover,
      &:focus {
        color: $verdeClaro;
        border-bottom: 2px solid $verdeClaro;
      }
    }
  }
}

.burgerDiv {
  display: none;
  
  @media screen and (max-width: 600px) {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: $verdeClaro;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__img {
      width: 70px;
      height: 70px;
    }

    &__button {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50px;
      height: 50px;
      background: transparent;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px;
      margin: 10px 10px 0px 10px;
      box-sizing: border-box;
      background-color: $verde;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.15s ease;

      &:hover {
        background-color: green;
      }

      &:focus {
        outline: none;
      }

      &__line {
        width: 30px;
        height: 2px;
        background-color: $verdeClaro;
        padding: 0;
        margin: 0;
        transition: all 0.3s ease-in-out;
        transform-origin: 1px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        
      }



    }
  }

}
